@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
}

*::selection{
    background: var(--red-color);
    color: #fff;
}

:root {
    --primary-color: #f9f9f9;
    --secondary-color: #222;
    --red-color: #f00;
}

html {
    /* font-size: 70%; */
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
}

header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    background: var(--primary-color);
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 1000; */
}

header .logo {
    position: relative;
    width: 4rem;
}

header .navbar a {
    display: inline-block;
    font-size: 1.3rem;
    margin-left: 3rem;
    color: var(--secondary-color);
    font-weight: 900;

}

header .navbar a:hover {
    color: var(--red-color);

}

header .modo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background: linear-gradient(#f00, #000);
    color: #f9f9f9;
    font-size: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

    /* Clases reutilizables */

.section{
    margin-bottom: 10rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: auto;
    height: 5vh;
    gap: 3rem;
    margin: 3rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
}

    /* Nav */

.nav{
    max-width: 968px;
    display: flex;
    height: var(--header-height);
    justify-content: flex-start;
    align-items: center;
}

/* .nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
} */

.nav__link{
    display: inline-flex;
    width: 30%;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 900;
    border-radius: 5px;
    transition: .3s ease all;
    position: relative;
    overflow: hidden;

}

.nav__link span{
    position: relative;
    z-index: 2;
}

.nav__link::after{
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .3s ease-in-out all;
    border-radius: 100px;
    transform-origin: center;
}

.nav__link:hover::after{
    transform: scale(500);
    background: var(--red-color);
}




/*--------------------------- Footer ---------------------------------------------------- */

.footer{
    padding-top: 2rem;
}

.footer__container{
    font-size: 1rem;
    color: var(--secondary-color);
    font-weight: 900;
    text-align: center;
}

