.contenedor img {
    display: inline-block;
    width: 100%;
    height: auto;
    position:relative;
}

.contenedor p{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    position: absolute;
    top:40%;
    left: 8%;
    /* transform: translate(-50%, -50%); */
    text-shadow: 0 0 8px rgba(0,0,0,0.8);
    
}