table {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 71, 71);
    color: white;
    padding: 50px;
}

input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

form {
    background-color: rgb(255, 71, 71);
    text-align: center;
}