form, input{
    font-size: 1rem;
    color: var(--secondary-color);
    font-weight: 900;
    /* text-align: center; */
    padding: 10px 10px;
}

.section{
    margin: 0;
}

.personal-nav{
    display: flex;
    gap: 50px;
    padding: 0 50px 0;
}

.nav__link{
    display: flex;
    width: 80%;
    justify-content: center;
}

.formulario{
    display: grid;
    padding: 0 50px 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
}

.form_style{
    width: 100%;
    margin-top: 5px;
    border-color: black;
    border:1px solid var(--secondary-color);
    border-radius: 5px;
}

.submit-btn{
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"]{
    display: flex;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    width: 25%;
    justify-content: center;
}

:required{
    width: 100%;
    margin-top: 5px;
    border-color: black;
    border:1px solid var(--secondary-color);
    border-radius: 5px;
}