form, input{
    font-size: 1rem;
    color: var(--secondary-color);
    font-weight: 900;
    /* text-align: center; */
    padding: 10px 10px;
}

.section{
    margin: 0;
    padding: 3rem 0 3rem;
    background-color: #FCF5ED;
}

.formulario{
    display: grid;
    padding: 0 50px 0;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(1, 1fr); */
    gap: 2rem;
}

.vehiculos-nav{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0 50px 0;
}

:required{
    width: 100%;
    margin-top: 5px;
    border-color: black;
    border:1px solid var(--secondary-color);
    border-radius: 5px;
}

input[type="submit"]{
    margin-top: 20px;
    display: flex;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    width: 25%;
    justify-content: center;
}

.submit-btn{
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__vehiculos{
    background-color: rgb(255, 100, 100);
    border: 10px solid rgb(255, 100, 100);
    border-radius: 20px;
    color: var(--primary-color);
}

.errors{
    text-align: center;
}

ul{
    padding: 20px 0;
}

table{
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 300px;
}

.tabla {
    background-color: rgb(255, 85, 85);
    padding: 2px;
    border-collapse:separate;
    border-spacing: 0px;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius: 5px;    
}

td, th{
    text-align: center;
    padding: 10px;
}

tr{
    transition: 0.2s all;
}

tr:hover{
    background-color: rgb(255, 70, 70);
}

tr:active{
    background-color: rgb(255, 40, 40);
}

table thead{
    background-color: red;
    color: var(--primary-color);
}

table tbody{
    background-color: rgb(255, 85, 85);
    color: var(--primary-color);
}

table tfoot{
    background-color: rgb(255, 85, 85);
    color: var(--primary-color);
}

.editar, .eliminar{
    padding: 10px 0;
}

.editar-btn{
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 500;
    background-color: rgb(63, 131, 0);
    border-radius: 20px;
    padding: 5px 20px;
    border: none;
}

.editar-btn:hover{
    background-color: rgb(38, 78, 0);
}

.eliminar-btn{
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 500;
    background-color: red;
    border-radius: 20px;
    padding: 5px 20px;
    border: none;
}

.eliminar-btn:hover{
    background-color: rgb(173, 0, 0);
}

.add-btn{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}