{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/personal.css' %}">
{% endblock %}

{% block title %} - Personal{% endblock %}
{% block section_title %}Jefes de área{% endblock %}
{% block content %}

    <section class="section">
        <div class="titulo">
            <h2>Editar jefe de área</h2>
        </div>
        <div class="errors">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        Ha ocurrido un problema con el campo <b>{{field.label}}</b>.
                        <br>
                        <b>{{ error|escape }}</b>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
        <form method="POST" action="{% url 'editarJefe' jefe.dni %}">
            {% csrf_token %}
            <div class="formulario">
                {% for field in form %}
                <p>{{ field.label_tag }} {{ field }}</p>
                {% endfor %}
            </div>
            <div class="submit-btn">
                <input type="submit">
            </div>
        </form>
    </section>

{% endblock %}