{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/personal.css' %}">
{% endblock %}

{% block title %} - Personal{% endblock %}
{% block section_title %}Jefes de área{% endblock %}
{% block content %}

    <section class="section">
        <div class="titulo">
            <h2>Gestión de Jefes de área</h2>
        </div>
        <form class="formulario" method="POST" action="{% url 'jefes_form' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    </section>

{% endblock %}