{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/personal.css' %}">
{% endblock %}

{% block title %} - Personal{% endblock %}
{% block section_title %}{% endblock %}
{% block content %}

    <section class="section">
        <h2>Listado de Personal del año {{ año }}</h2>

        {% if año == '2023' %}
            <p>Cantidad de personal: {{cant_personal}}</p>
            <ul>
                {% for nombre, rol in listado_historico %}
                    <li>
                        <p>{{ nombre | upper }} - {{ rol }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No existen registros de personal para este año.</p>
        {% endif %}


    </section>

{% endblock %}