{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
{% endblock %}

{% block title %} - Personal{% endblock %}
{% block section_title %}{% endblock %}
{% block content %}

    <section class="section">
        <div class="titulo">
            <h2>Gestión de Personal</h2>
        </div>
        
        <div>
            <a href="{% url 'personal_form' %}" class="nav__link"><span>Nuevo personal</span></a>
            <a href="{% url 'jefes_form' %}" class="nav__link"><span>Nuevo jefe de área</span></a>
        </div>
    </section>

{% endblock %}