{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/personal.css' %}">
{% endblock %}

{% block title %} - Personal{% endblock %}
{% block section_title %}{% endblock %}
{% block content %}

    <section class="section">
        <div class="titulo">
            <h2>Gestión de Personal</h2>
        </div>
        <form class="formulario" method="POST" action="{% url 'personal_form' %}">
            {% csrf_token %}
            {{ create_form.as_p }}
            <input type="submit" id="formulario">
        </form>
    </section>
    
{% endblock %}