<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuartel No.17</title>
</head>

<body>
    <header>
        <h1>Sistema de Gestión de Vehiculos</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'personal' %}">Gestión de Personal</a></li>
            <li><a href="{% url 'vehiculos' %}">Gestión de Vehículos</a></li>
        </ul>
    </nav>
    <main>

    </main>

    <footer>
        {% include "core/footer.html" %}
    </footer>


</body>
</html>