{% extends "core/base.html" %}
{% load static %}
{% block extra_css%}
    <link rel="stylesheet" href="{% static 'core/css/vehiculos.css' %}">
{%endblock%}

{% block title %} - Registro de vehículos{% endblock %}
{% block section_title %}Registro de vehículos{% endblock %}
{% block content %}
    <section class="section">
        <div class="titulo">
            <h2>Datos del vehículo</h2>
        </div>
    
        <form class="formulario" method="post" action="{% url 'vehiculos_form' %}">
            {% csrf_token %}
            {{ vehiculos_form.as_p }}
            <div class="submit-btn">
                <input type="submit">
            </div>
        </form>
    </section>
{% endblock %}